In [1]:
# Load model directly
from transformers import pipeline
import pandas as pd
from multiprocessing import Pool
from tqdm import tqdm
from tqdm.contrib.concurrent import process_map
import time
from torch.multiprocessing import Pool, Process, set_start_method
try:
     set_start_method('spawn')
except RuntimeError:
    pass

In [2]:
df = pd.read_csv('test.csv')
df.head()

,id,article,highlights
0,92c514c913c0bdfe25341af9fd72b29db544099b,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,2003841c7dc0e7c5b1a248f9cd536d727f27a45a,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,91b7d2311527f5c2b63a65ca98d21d9c92485149,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,caabf9cbdf96eb1410295a673e953d304391bfbb,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,3da746a7d9afcaa659088c8366ef6347fe6b53ea,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."

In [3]:
len(df)

11490

In [4]:
pipe = pipeline("text2text-generation", model="Michau/t5-base-en-gen
                erate-headline", device=0)

In [5]:
results = pipe(df['article'].to_list())
df['headline'] = results

Token indices sequence length is longer than the specified maximum sequence length for this model (1084 > 512). Running this sequence through the model will result in indexing errors

In [6]:
df.head()

,id,article,highlights,headline
0,92c514c913c0bdfe25341af9fd72b29db544099b,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,{'generated_text': 'Can Crowding on Airplanes ...
1,2003841c7dc0e7c5b1a248f9cd536d727f27a45a,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"{'generated_text': 'Rahul Kumar, 17, climbed i..."
2,91b7d2311527f5c2b63a65ca98d21d9c92485149,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,{'generated_text': 'Nottingham Forest - Freedm...
3,caabf9cbdf96eb1410295a673e953d304391bfbb,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,{'generated_text': 'Fiorentina goalkeeper Neto...
4,3da746a7d9afcaa659088c8366ef6347fe6b53ea,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...",{'generated_text': 'Bruce Jenner to speak out ...

In [7]:
len(df)

11490

In [8]:
df.to_csv('test_headline.csv', index=False)